version: "3.4"
services:
  db:
    container_name: ${PROJECT_NAME}-db
    command: postgres -c shared_buffers=512MB

  app:
    container_name: ${PROJECT_NAME}-app
    environment:
      APP_ENV: prod
    
  web:
    container_name: ${PROJECT_NAME}-web
    environment:
      VIRTUAL_HOST: ${DOMAIN}
      LETSENCRYPT_HOST: ${DOMAIN}
    expose:
      - 80
    networks:
      - default
      - proxy_network

networks:
  proxy_network:
    external: true
